#Caches
.yarn

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de build e artefatos
.next/
out/
dist/
.cache/

# Arquivos de configuração do ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log

# Jest
coverage/
*.lcov

# Docker
Dockerfile
docker-compose.yml
docker-compose.override.yml
.dockerignore
docker-compose.override.yml

# Mac OS
.DS_Store

# Editor de código
.idea/
.vscode/
*.sublime-workspace

# Arquivos de lock
package-lock.json
yarn.lock
